$containerwidth: 400px;
$mainbackground: #EEEEEE;
$pagewidth: 1440px;

body {
  background-color: $mainbackground;
}

.container {
  margin: 0;
  width: $pagewidth;
  font-family: 'Roboto Slab', serif;
  color: #565656;

  header {
    margin: 0;
    max-width: 100%;
    ul {
      margin: 0;
      list-style: none;
      font-family: 'Roboto', sans-serif;
      text-color: #4F4E54;
      background-color: #FFFFFF;
      padding: 5px;
    }
    .banner {
      margin: 0;
      max-width: 100%;
      height: 250px;
      img {
        height: 150px;  
        width: $pagewidth;
      }
    }
  }

  .main {
    max-width: 100%;
    margin-top: 30px;
    text-align: center;
    background-color: $mainbackground;
    .box {
      border-top: 1px solid #ccc;
      padding-bottom: 70px;
      h1 {
        display: inline-block;
        margin: -50px;
        padding: 5px;
        background-color: $mainbackground;
      }
      p {
        margin: 100px;
        font-size: 20px;
      }
    }
  }  

  .footer{
    margin:0;
    max-width: 100%;
    p{
      height: 25px;
      margin: 0;
      text-align: center;
      background: #4B494F;
      color: #989898;
      padding: 5x;
      padding-top: 45px;
      padding-bottom: 10px;
    }
  }

}